#header {
    background-color: black;
}
#header {
    height: 70px;
}
#header #bmt {
    color: palegreen;
}
#header ul {
    list-style-type: none;
}
#header li {
    float: right;
    padding-top: 50px;
    width: 100px;
}
#header #ls {
    margin-top: -70px;
    border: 1px solid #ccc;
    float: right;
    width: 170px;
}
#subheader #lbmt {
    width: 70px;
    height: 100px;
}
#subheader #PT {
    margin-top: -100px;
    float: left;
    padding-top: 40px;
    width: -100px;
    margin-left: 100px;
}
#subheader ul {
    list-style-type: none;
}
#subheader li {
    margin-top: -50px;
    float: right;
    padding-top: 40px;
    width: 100px;
}
#container #content {
    margin-top: 50px;
    margin-left: 580px;
    margin-right: 50px;
    float: center;
    width: 100px;
}
#container #content #bmt {
    padding-left: 90px;
    margin-left: 200px;
    float: center;
    width: 50px;
    height: 50px;
}